name: Test

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.0', '3.1', '3.2']
        rails: ['6.1', '7.0', '7.1']

    name: Test against Ruby ${{ matrix.ruby }} / Rails ${{ matrix.rails }}

    steps:
    - uses: actions/checkout@v4

    - name: Setup System
      run: sudo apt-get install libsqlite3-dev

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}

    - name: Install gems
      env:
        MATRIX_RAILS_VERSION: ${{ matrix.rails }}
      run: |
        export BUNDLE_GEMFILE="${GITHUB_WORKSPACE}/ci/Gemfile-rails-${MATRIX_RAILS_VERSION}"
        bundle install --jobs 4 --retry 3

    - name: RSpec
      run: bundle exec rake
